.title {
  font-size: 30px;
  margin: 0 auto;
  margin-top: 10px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  padding: 15px;
  width: 100%;
}
